@using System.Runtime.InteropServices.JavaScript
@model BookingSite.Model.Listingi
@{
    ViewData["Title"] = "Listing";
}

<div>
    <article class="listing-article">
        <img class="listing-img" alt="Building Img" src="/Content/Images/defaultImg.jpeg" height="200"/>
        <h3 class="listing-title">@Model.Neprimicnina.Naslov, @Model.Neprimicnina.PostnaSt @Model.Neprimicnina.Kraj</h3>
        <div class="listing-info">@Model.DatumOd.Value.ToString("d") - @Model.DatumDo.Value.ToString("d")</div>
        <div class="listing-desc">
            <h4>Description:</h4>
            <p>@Model.Opis</p>
        </div>
    </article>
    <div class="reserve_container">
        <div class="reserve_form">
            <h2>Reserve this listing</h2>
            <form asp-action="BookListing" method="get">
                <input type="hidden" name="id" value="@Model.ListingId"/>
                From: <br/>
                <input required="required" id="from_date_input" name="from_date" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@Model.DatumDo.Value.ToString("yyyy-MM-dd")" onchange="handler(event);"/>
                <br/>
                Untill: <br/>
                <input required="required" id="till_date_input" name="till_date" type="date" disabled="disabled" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@Model.DatumDo.Value.ToString("yyyy-MM-dd")"/>
                <br/>
                <input type="submit" value="Book this listing!"/>
            </form>
        </div>
        <div class="reserve_calendar">
            <h2>Current reservations:</h2>
            @foreach (var res in Model.Rezervacijes)
            {
                <p>
                    <div>@res.DatumOd.Value.ToString("d") - @res.DatumDo.Value.ToString("d")</div>
                </p>

            }
        </div>
    </div>
</div>
@Html.Raw(TempData["msg"])
<script>
    var from_input = document.getElementById("from_date_input");
    var till_input = document.getElementById("till_date_input");
    
    function handler(e){
         till_input.value = null;
         if(e.target.value != null){
             till_input.disabled = false;
             till_input.setAttribute("min", e.target.value);
         }
         else
             till_input.disabled = true;
   }
</script>