@using System.Runtime.InteropServices.JavaScript
@model BookingSite.Model.Listingi
@{
    ViewData["Title"] = "Listing";
}
<div>
    <article class="listing-article">
        <img class="listing-img" alt="Building Img" src="/Content/Images/defaultImg.jpeg" height="200"/>
        <h3 class="listing-title">@Model.Neprimicnina.Naslov, @Model.Neprimicnina.PostnaSt @Model.Neprimicnina.Kraj</h3>
        <div class="listing-info">@Model.DatumOd.Value.ToString("d") - @Model.DatumDo.Value.ToString("d")</div>
        <div class="listing-desc">
            <h4>Opis:</h4>
            <p>@Model.Opis</p>
        </div>
    </article>
    <div class="reserve_container">
        <div class="reserve_form">
            <h2>Reserve this listing</h2>
                <form>
                    From: <br/>
                    <input id="from_date_input" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@Model.DatumDo.Value.ToString("yyyy-MM-dd")" onchange="handler(event);"/>
                    <br/>
                    Untill: <br/>
                    <input id="till_date_input" type="date" disabled="disabled" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@Model.DatumDo.Value.ToString("yyyy-MM-dd")"/>
                </form>
        </div>
        <div class="reserve_calendar">
            
        </div>
    </div>
</div>

<script>
    var from_input = document.getElementById("from_date_input");
    var till_input = document.getElementById("till_date_input");
    
    function handler(e){
     if(e.target.value != null){
         till_input.disabled = false;
         till_input.setAttribute("min", e.target.value);
     }
     else
         till_input.disabled = true;
   }
</script>